<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
</div><!-- /.container-fluid -->
</nav>

<div class="well" style="margin-top: 20px;">
    <!--{{userprofile}}-->
    <div class=row">

        <!--{{users}}-->
        <div class="col-md-4">
            Domain Apps:
            <ul >
                <li ng-repeat ="app in domain.apps">
                    {{app.appname}} | {{app._id}}

                </li>
            </ul>
        </div>
</div>
        <div class=row">
            <form>new app name: <input name="input" ng-model="appname" required></form>
        <button class="btn-primary" ng-click="CreateApp(appname)">create app</button>

        </div>

        <div class="row"><hr>{{domain}}</div>

        <!--</div>-->

    </div></div>