<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>


<div class="well" style="margin-top: 20px;">
    <div class="row">
    <span><p>{{headermessage}}</p> Scene<span>

        <pre>{{scene}}</pre>

<form name="form">


    <button class="btn btn-primary pull-right" ng-click="onSaveScene()" ng-show="form.$dirty">Save</button>
    <!--<div class="col-md-2"></div>-->
    <form class="form-horizontal" role="form" name="newsceneform">
        <!--<div class="col-md-3"></div>-->
        <!--<div class="col-md-6">-->
        <div class="col-md-12">
            {{scene.scenePictures}}
            <div ng-repeat="picture in scenePictureThumbs">
            <img ng-src="{{picture}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">
            </div>
        </div>
        <div class="col-md-12"><hr></div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="scene_sceneNumberInput" >Scene Number: </label>
                <input type="text" class="form-control" ng-model="scene.sceneNumber" name="scene_sceneNumber" id="scene_sceneNumberInput" placeholder="Scene Number" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="scene_sceneTitleInput" >Scene Title: </label>
                <input type="text" class="form-control" ng-model="scene.sceneTitle" name="scene_sceneTitle" id="scene_sceneTitleInput" placeholder="Scene Title" required>
            </div>
        </div>


        <div class="col-md-2">
            <div class="form-group">
                <label >Scene Color1: </label>
                <input class="change-element-color" my-bgcolor="scene.sceneColor1" colorpicker ng-model="scene.sceneColor1" type="text" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label >Scene Color2: </label>
                <input class="change-element-color" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneColor2" type="text">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Add Scene Picture:</label><select name="newScenePic" class="form-control" ng-model="newScenePicture" ng-options="p._id as p.title for p in pictureitems" required>
                <option value="" selected="selected">Select Image:</option>
            </select>
            </div>
        </div>


        <div class="col-md-12"><hr></div>

        <div class="col-md-12">


            <div class="col-md-6">
                <div class="form-group">
                    <label>Scene Trigger Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneTriggerAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Scene Spoken Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneSpokenAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Scene Background Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneBackgroundAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Scene Environment Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneEnvironmentAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <br>
            <!--<div class="col-md-10">-->
            <!--<img ng-src="{{audioWaveformPng}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">-->
            <!--<br>-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneKeynote" >Scene Keynote: </label>
                    <input type="text" class="form-control"  ng-model="scene.sceneKeynote" name="scene_sceneKeynote" id="scene_sceneKeynote" placeholder="Keynote"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneDescription" >Scene Description: </label>
                    <textarea type="text" class="form-control"  ng-model="scene.sceneDescription" name="scene_sceneDescription" id="scene_sceneDescription" rows="3" placeholder="Description"/></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneTextInput" >Scene Text: </label>
                    <textarea class="form-control" name="scene_sceneText" id="scene_sceneTextInput" ng-model="scene.sceneText" placeholder="Text" rows="5"></textarea></div>
                <!--<button class="btn btn-primary btn-large pull-right" ng-click="Login()" ng-show="userstatus == 0" ng-disabled="!form.$valid">Login</button>-->
                <!--<button class="btn btn-primary btn-large pull-left" ng-click="Logout()" ng-hide="userstatus == 0 " >Logout</button>-->
            </div>
    </form>
    <!--<label >Update Title: </label> -->
    <!--<input type="textarea" class="form-control" ng-model="item.title" name="imagetitle" placeholder="{{item.title}}"/> </br>-->


    <!--<label>Update Status: </label>-->
    <!--<div class="btn-group">-->
    <!--<button type="button" class="btn btn-primary" ng-model="item.item_status" btn-radio="'public'">Public</button>-->
    <!--<button type="button" class="btn btn-primary" ng-model="item.item_status" btn-radio="'private'">Private</button>-->
    <!--</br>-->
    <!--</div>-->
    </br></br>

    <!-- <div ng-repeat="t in item[0].tags"> -->
    <!--<div>-->
    <!--<label>Update Tags: </label>-->
    <!--<input name="tagInput" type="text" class="form-control" ng-model="tag" placeholder="Add Tag"></td>-->
    <!--<button class="btn btn-md btn-primary pull-right" ng-click="AddTag(tag)"><span class="glyphicon glyphicon-plus"></span></button>-->
    <!--<button class="btn btn-md btn-danger pull-left" ng-click="RemoveTag(tag)"><span class="glyphicon glyphicon-remove"></span> </button>-->
    <!--</br></br><pre>{{item.tags}}</pre></br>-->
    <!--</div>-->


    </div>
</div>


