<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>


<div class="well" style="margin-top: 20px;">
    <div class="row">
    <span><p>{{headermessage}}</p>
        <h3>Create New Scene</h3></span>

        <!--<pre>{{scene}}</pre>-->


        <button class="btn btn-primary pull-right" ng-click="onSaveScene()" ng-show="form.$dirty">Save</button>
        <form name="form">



            <div class="col-md-12"><hr></div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="scene_sceneDomainInput" > Domain: </label>
                    <input type="text" class="form-control" ng-model="scene.sceneDomain" name="scene_sceneDomain" id="scene_sceneDomainInput" placeholder=" Domain" required>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label for="scene_sceneTitleInput" >Scene Title: </label>
                    <input type="text" class="form-control" ng-model="scene.sceneTitle" name="scene_sceneTitle" id="scene_sceneTitleInput" placeholder=" Title" required>
                </div>
            </div>


            <div class="col-md-12"><hr></div>

        </form>

        </br></br>



    </div>
</div>


