<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>

<div class="well row" style="margin-top: 20px;">


    <div class="player-control">
        <a class="pull-right" ng-click="collapsar()">collapse</a>
        <div><h3><span class="badge">{{ audioPlayer.currentTrack }}</span> <span>{{ audioitems[audioPlayer.currentTrack - 1].title }}</span> </h3>
        <span>by {{ audioitems[audioPlayer.currentTrack - 1].artist }} </span></div>
    <br>
        <audio media-player="audioPlayer" data-playlist="audioPlaylist"></audio>
      <!--<div class="btn btn-primary btn-lg" ng-click="audioPlayer.play()">-->
        <!--<span>Play</span>-->
        <!--<i class="fa fa-play"></i>-->
      <!--</div>-->
      <div class="btn btn-primary btn-lg" ng-click="audioPlayer.playPause()">
        <i class="fa" ng-class="{ 'fa-pause': audioPlayer.playing, 'fa-play': !audioPlayer.playing }"></i>
          <span ng-show="audioPlayer.playing">Stop</span>
          <span ng-show="!audioPlayer.playing">Play </span>

      </div>

      <div class="btn btn-primary btn-md" ng-click="audioPlayer.prev()">
        <i class="fa fa-step-backward"></i>
        <span>Prev</span>
      </div>
        <div class="btn btn-primary btn-md" ng-click="audioPlayer.next()">
        <span>Next</span>
        <i class="fa fa-step-forward"></i>
      </div> <br>
      <span ng-show="audioPlayer.playing">status: Playing</span>
        <span ng-show="!audioPlayer.playing">status: Paused </span>
        </div>

        <div class="progress" ng-show="collapsed" ng-click="audioPlayer.seek(audioPlayer.duration * seekPercentage($event))">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: (audioPlayer.currentTime * 100) / (audioPlayer.duration)}"></div>
            <div class="time" ng-show="audioPlayer.formatTime">
                <!--<span class="ng-binding">00:00</span><b>/</b><span class="ng-binding">00:00</span>-->
            </div>

        </div>
        <div class="progress-container"><span>duration: {{ audioPlayer.formatDuration }}</span> <span class="pull-right"> current time: {{ audioPlayer.formatTime }}</span></div>





        <hr>
        <div>
        <div class="row-fluid">
                           <div ng-repeat="item in audioitems" ng-click="audioPlayer.playPause($index)"  style="margin-left: 30px" class="col-md-3 panel panel-body audioContainer"  ng-class="{ active: audioPlayer.playing && audioPlayer.currentTrack-1 === $index}">

                               <h4><span class="badge">{{ $index+1 }}</span><span> {{ item.title }}</span></h4><br>
                                <!--<button class="pull-right btn btn-sm"><span><img src="http://servicemedia.s3.amazonaws.com/unityicon_mini.png"></span></button>-->

                               <span>Artist: {{ item.artist }}<span><br>

                               <span>Album: {{ item.album }}</span><br>

                               <span><a href="http://philosophersgarden.org/#/play/{{ item.short_id }}">code: {{ item.short_id }}</a><a class="pull-right badge" href="http://elnoise.com/#/unity/{{ item.short_id }}"><img src="http://servicemedia.s3.amazonaws.com/unityicon_mini.png"></a></span><br>



                           </div>
        </div>
    </div>
</div>


