<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>

<div class="well" style="margin-top: 20px;">
<div class="row">
	<div class="col-md-12" style="text-align: center;"><h1>Paths<h1></div>
</div>
<div class="row">
<div class="col-md-12" style="text-align: center;">
	
	<div class="input-group col-md-2">
	<label for="title_query">filter by title:  </label>
	<input type="text" id="title_query" ng-model="query.title">
	</div>
	
	<div class="input-group col-md-2">
	<label for="tag_query">filter by tags:  </label>
	<input type="text" id="tag_query" ng-model="query.tags">
	</div>

	<div class="col-md-2 pull-right">
	<a class="btn btn-primary" href="#/newpath/{{user._id}}">New Path</a></div>

				<table class="table table-rounded table-hover table-cursor well" style="margin-top: 20px;">
				  <thead>
				    <th>Path #</th>
				    <th>Path Title</th>
				    <th>Path Meaning</th>
                    <th>View</th>
                    <th>Edit</th>

				  </thead>
				  <tbody>
		<!--		    <tr ng-repeat="item in audioitems (filteredAudioitems = (taga= | filter: query))| orderBy:predicate:reverse"> -->
				      <tr ng-repeat="item in pathitems | filter: query: strict | orderBy:predicate:reverse" >
				      <th>{{ item.pathNumber }}</th>
				      <th>{{ item.pathTitle }}</th>
                      <th>{{ item.pathMeaning }}</th>
				   	 <th><div ng-click="viewClick(item)">view</div></th>
                          <th><div ng-click="rowClick(item)">edit</div></th>
				    </tr>
				  </tbody>
				</table>

</div>
<pre>{{imageitems}}</pre>
</div>
    </div>
