<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>

<div class="well" style="margin-top: 20px;">
<div class="row">
	<div class="col-md-12" style="text-align: center;"><h1>Picture Items<h1></div>
</div>
<div class="row">
<div class="col-md-12" style="text-align: center;">

	<div class="input-group col-md-2">
	<label for="title_query">filter by title:  </label>
	<input type="text" id="title_query" ng-model="query.title">
	</div>

	<div class="input-group col-md-2">
	<label for="tag_query">filter by tags:  </label>
	<input type="text" id="tag_query" ng-model="query.tags">
	</div>

	<div class="col-md-2 pull-right">
	<a class="btn btn-primary" href="#/uploadpicture">Upload Picture</a></div><br><br><div></div>


				<!--<table class="table table-rounded table-hover table-cursor well" style="margin-top: 20px;">-->
				  <!--<thead>-->

				    <!--<th>Title</th>-->
				    <!--<th>Tags</th>-->
				    <!--<th>Edit</th>-->
				    <!---->
				    				   <!---->
				  <!--</thead>-->
				  <!--<tbody>-->
		<!--&lt;!&ndash;		    <tr ng-repeat="item in audioitems (filteredAudioitems = (taga= | filter: query))| orderBy:predicate:reverse"> &ndash;&gt;-->
				      <!--<tr ng-repeat="item in imageitems | filter: query: strict | orderBy:predicate:reverse">-->
				      <!--<th>{{ item.title }}</th>-->
				      <!--<th>{{ item.tags }}</th>-->
				   	  <!--<th><a href="#/upic/{{ item._id }}"><img ng-src="{{item.URLthumb}}"/></a></th>-->
				   	 <!---->
				    <!--</tr>-->
				  <!--</tbody>-->
				<!--</table>-->

    <div class="row-fluid">
        <div ng-repeat="item in imageitems | filter: query: strict | orderBy:predicate:reverse" style="margin-left: 30px" class="col-md-2 panel panel-body audioContainer"  >

            <span class="badge">{{ $index+1 }}</span><span>{{item.title ? item.title : item.filename}}</span><br>
            <!--<button class="pull-right btn btn-sm"><span><img src="http://servicemedia.s3.amazonaws.com/unityicon_mini.png"></span></button>-->
            <span><a href="#/upic/{{ item._id }}"><img ng-src="{{item.URLthumb}}"/></a></span>

                               <!--<span>Title: {{ item.title }}<span><a class="pull-right " href="{{item.URLmp3}}" >Mp3</a><br>-->

                               <span>Tags: {{ item.tags }}</span><br>

                               <!--<span><a href="http://elnoise.com/#/play/{{ item.short_id }}">code: {{ item.short_id }}</a><a class="pull-right badge" href="http://elnoise.com/#/unity/{{ item.short_id }}"><img src="http://servicemedia.s3.amazonaws.com/unityicon_mini.png"></a></span><br>-->



        </div>
    </div>

</div>
<!--<pre>{{imageitems}}</pre>-->
</div>
