<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>
	<div class="well">

      <h4>Upload Audio File</h4>
        
      	
        <div class="input-group">
        <input type="text" ng-model="title" name="title" />
      
        <input type="text" ng-model="artist" name="artist" />
      
        <input type="text" ng-model="album" name="album" />
      
          <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
              Browse&hellip; <input type="file" multiple>
            </span>
          </span>
          <input type="text" class="form-control" readonly>
        </div>

        <input type="submit" id="submit" value="Submit" />

       </div> 