	<div class="well">

      <h4>Upload Text File</h4>
        
      	
        <div class="input-group">
        <label>Title</label>	
        <input type="text" ng-model="title" name="title" />
      <label>Author</label>
        <input type="text" ng-model="artist" name="artist" />
      <label>Source</label>
        <input type="text" ng-model="album" name="album" />
      
          <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
              Browse&hellip; <input type="file" multiple>
            </span>
          </span>
          <input type="text" class="form-control" readonly>
        </div>

        <input type="submit" id="submit" value="Submit" />

       </div> 