<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>


<div class="well" style="margin-top: 20px;">
    <div class="row">

    <button class="btn btn-primary pull-right" ng-click="onSaveScene()" >Save</button>
    <span><p>{{headermessage}}</p>
        <h3>Preview Scene: <a target="_blank" href="http://strr.us/?scene={{scene.short_id}}">{{scene.short_id}}</a></h3></span>

        <pre>{{scene}}</pre>


<form name="form">


    <!--<div class="col-md-2"></div>-->
    <!--<form class="form-horizontal" role="form" name="newsceneform">-->
        <!--<div class="col-md-3"></div>-->
        <!--<div class="col-md-6">-->
        <div class="col-md-12">
            <!--{{scenePictureThumbs}}-->
            <div ng-repeat="picture in scenePictureThumbs">

                <img ng-src="{{picture.thumbUrl}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">
                <button class="btn-default btn-default-sm" ng-click="DeleteScenePicture(picture._id)">Delete</button>ID: {{picture._id}} Filename:  {{picture.filename}} Title:  {{picture.title}}
            </div>
        </div>
        <div class="col-md-12"><hr></div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="scene_sceneDomainInput" > Domain: </label>
                <input type="text" class="form-control" ng-model="scene.sceneDomain" name="scene_sceneDomain" id="scene_sceneDomainInput" placeholder=" Domain" required>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="scene_sceneNumberInput" > Number: </label>
                <input type="text" class="form-control" ng-model="scene.sceneNumber" name="scene_sceneNumber" id="scene_sceneNumberInput" placeholder=" Number" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="scene_sceneTitleInput" >Scene Title: </label>
                <input type="text" class="form-control" ng-model="scene.sceneTitle" name="scene_sceneTitle" id="scene_sceneTitleInput" placeholder=" Title" required>
            </div>
        </div>



    <div class="col-md-12"><hr></div>

    <div class="col-md-12"> <label >Color Options: </label><div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label >Scene Color1: </label>
                <input class="change-element-color" my-bgcolor="scene.sceneColor1" colorpicker ng-model="scene.sceneColor1" type="text" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label >Scene Color2: </label>
                <input class="change-element-color" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneColor2" type="text">
            </div>
        </div>
        </div><div class=row">
        <div class="col-md-12">
            <div class="col-md-3">
            <span>Random Colors?
            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-success'}[!scene.sceneRandomizeColors]" ng-click="scene.sceneRandomizeColors = !scene.sceneRandomizeColors">{{!scene.sceneRandomizeColors && 'No' || 'Yes'}}
            </a></span>
            </div>
            <div class="col-md-3">
            <span>Tweak Colors?
            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-success'}[!scene.sceneTweakColors]" ng-click="scene.sceneTweakColors = !scene.sceneTweakColors">{{!scene.sceneTweakColors && 'No' || 'Yes'}}
            </a></span>
            </div>
            <div class="col-md-3">
            <span>Colorize Sky?
            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-success'}[!scene.sceneColorizeSky]" ng-click="scene.sceneColorizeSky = !scene.sceneColorizeSky">{{!scene.sceneColorizeSky && 'No' || 'Yes'}}
            </a></span>
            </div>
        <!--<div class="btn-group" data-toggle="buttons">-->
        <!--<label class="btn btn-primary active">-->
            <!--<input type="checkbox" autocomplete="off" checked> Color Sky/Fog-->
        <!--</label>-->
        <!--<label class="btn btn-primary">-->
            <!--<input type="checkbox" autocomplete="off"> Random Colors-->
        <!--</label>-->
        <!--<label class="btn btn-primary">-->
            <!--<input type="checkbox" autocomplete="off"> Tweak Colors-->
        <!--</label>-->
        <!--</div>-->
        </div>
        </div>
    </div>
    <div class="col-md-12"><hr></div>

    <div class="col-md-12"><label>Environment Options: </label>
        <div class="row">

        <!--<pre>{{enviroOptions}}</pre>-->
            <!--<div class="btn-group">-->
                <!--<label class="btn btn-primary"  ng-model="enviroOptions.dynamicSky" btn-checkbox>-->
                     <!--Dynamic Sky/Weather-->
                <!--</label>-->
                <!--<label class="btn btn-primary"  ng-model="enviroOptions.simpleWater" btn-checkbox>-->
                    <!--Simple Water-->
                <!--</label>-->
                <!--<label class="btn btn-primary"  ng-model="enviroOptions.oceanWater" btn-checkbox>-->
                    <!--Ocean Water-->
                <!--</label>-->
                <!--<label class="btn btn-primary"  ng-model="enviroOptions.scatterMeshes" btn-checkbox>-->
                     <!--Scatter Meshes-->
                <!--</label>-->
                <!--<label class="btn btn-primary"  ng-model="enviroOptions.scatterObjects" btn-checkbox>-->
                    <!--Scatter Objects-->
                <!--</label>-->
            <!--</div>-->
        <div class="col-md-3">
            <span>Scatter Meshes?
            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-success'}[!scene.sceneScatterMeshes]" ng-click="scene.sceneScatterMeshes = !scene.sceneScatterMeshes">{{!scene.sceneScatterMeshes && 'No' || 'Yes'}}
            </a></span>
        </div>
            <div class="col-md-3">
            <span>Scatter Objects?
            <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-success'}[!scene.sceneScatterObjects]" ng-click="scene.sceneScatterObjects = !scene.sceneScatterObjects">{{!scene.sceneScatterObjects && 'No' || 'Yes'}}
            </a></span>
            </div>

        <div>

            <!--<toggle-switch-->
            <!--ng-model="scatterMeshes"-->
            <!--on-label="On"-->
            <!--off-label="Off">-->
        <!--</toggle-switch>-->


            </div>
        </div>
   </br></br>
    <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label for="scene_sceneEnvironmentInput" > Environment: </label>-->
                <!--<input type="text" class="form-control" ng-model="scene.sceneEnvironment" name="scene_sceneEnvironment" id="scene_sceneEnvironmentInput" placeholder=" Environment" required>-->
            <!--</div>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;		public string sky;-->
        <!--public bool useColorsForEnviro;-->
        <!--public bool useRandomColors;-->
        <!--public bool tweakColors;-->
        <!--public bool easyWaterPlane;-->
        <!--public bool oceanPlane;-->
        <!--public bool scatterMeshes;-->
        <!--public bool scatterObjects;-->
        <div class="col-md-3">
            <div class="form-group">
                <label>Select Environment:</label><select name="sceneEnviro" class="form-control" ng-model="scene.sceneEnvironment.name" ng-options="e as e for e in environments" required>
                <option value="" selected="{{sceneEnvironment.name}}">Select Environment:</option>
            </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Select Time:</label><select name="sceneTime" class="form-control" ng-model="scene.sceneTime" ng-options="t.name for t in time" required>
                <option value="" selected="selected">Select Time:</option>
            </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Select Time Scale:</label><select name="sceneTimeSpeed" class="form-control" ng-model="scene.sceneTimescale" ng-options="t.name for t in speed" required>
                <option value="" selected="selected">Select Timescale:</option>
            </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Select Weather:</label><select name="sceneWeather" class="form-control" ng-model="scene.sceneWeather" ng-options="w.name for w in weather" required>
                <option value="" selected="selected">Select Weather:</option>
            </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Select Season:</label><select name="sceneSeason" class="form-control" ng-model="scene.sceneSeason" ng-options="s.name for s in season" required>
                <option value="" selected="selected">Select Season:</option>
            </select>
            </div>
        </div></div>
    <div class="col-md-12"><hr></div>

    <div class="col-md-12">


        <div class="col-md-3">
            <div class="form-group">
                <label>Add Scene Picture:</label><select name="newScenePic" class="form-control" ng-model="newScenePicture" ng-options="p._id as (p.title ? p.title : p.filename) for p in pictureitems " required>
                <option value="" selected="selected">Select Image:</option>
            </select>
                <button class="btn-default btn-default-sm" ng-click="AddScenePicture(newScenePicture)">Add</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Add Scene Obj:</label><select name="newSceneObj" class="form-control" ng-model="newSceneObj" ng-options="p._id as (p.title ? p.title : p.filename) for p in objitems " required>
                <option value="" selected="selected">Select Obj:</option>
            </select>
                <button class="btn-default btn-default-sm" ng-click="AddSceneObj(newSceneObj)">Add</button>
            </div>
        </div>




            <div class="col-md-3">
                <div class="form-group">
                    <label>Scene Trigger Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneTriggerAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Scene Spoken Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneSpokenAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Scene Background Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneBackgroundAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Scene Environment Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneEnvironmentAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <br>
            <!--<div class="col-md-10">-->
            <!--<img ng-src="{{audioWaveformPng}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">-->
            <!--<br>-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneKeynote" >Scene Keynote: </label>
                    <input type="text" class="form-control"  ng-model="scene.sceneKeynote" name="scene_sceneKeynote" id="scene_sceneKeynote" placeholder="Keynote"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneDescription" >Scene Description: </label>
                    <textarea type="text" class="form-control"  ng-model="scene.sceneDescription" name="scene_sceneDescription" id="scene_sceneDescription" rows="3" placeholder="Description"/></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneTextInput" >Scene Text: </label>
                    <textarea class="form-control" name="scene_sceneText" id="scene_sceneTextInput" ng-model="scene.sceneText" placeholder="Text" rows="5"></textarea></div>
                <!--<button class="btn btn-primary btn-large pull-right" ng-click="Login()" ng-show="userstatus == 0" ng-disabled="!form.$valid">Login</button>-->

            </div>
    </form>
        <button class="btn btn-primary btn-large pull-right" ng-click="onDeleteScene()" ng-hide="userstatus == 0 " >Delete Scene</button>
    </br></br>



    </div>
</div>


