<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>


<div class="well" style="margin-top: 20px;">
    <div class="row">
    <a class="btn btn-primary btn-lg pull-right"target="_blank" href="http://strr.us/?scene={{scene.short_id}}">Preview<img src="http://servicemedia.s3.amazonaws.com/unityicon.png"></a>
    <button class="btn btn-primary btn-lg " ng-click="onSaveScene()" >Save</button>
    <span><p>{{headermessage}}</p>
        <h4>Scene: <a target="_blank" href="http://servicemedia.net/scene/{{scene.short_id}}">{{scene.short_id}}</a></h4></span> <span ><h4> Title: {{scene.sceneTitle}}</h4></span>




<form name="form">


    <!--<div class="col-md-2"></div>-->
    <!--<form class="form-horizontal" role="form" name="newsceneform">-->
        <!--<div class="col-md-3"></div>-->
        <!--<div class="col-md-6">-->

        <div class="col-md-12"><hr></div>
        <div class="col-md-6">
    <label>Scene Options: </label>
        <table class="table">
            <tr>
                <td>
                    Domain:
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="scene.sceneDomain" name="scene_sceneDomain" id="scene_sceneDomain" placeholder=" Domain" required>
                </td>
            </tr>
            <tr>
                <td>
                    Previous Scene
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="scene.sceneNumber" name="scene_sceneNumber" id="scene_scenePreviousScene" placeholder=" short code" >

                </td>
            </tr>
            <tr>
                <td>
                    Next Scene
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="scene.sceneNumber" name="scene_sceneNumber" id="scene_sceneNextScene" placeholder=" short code" >

                </td>
            </tr>
            <tr>
                <td>
                    Scene Title
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="scene.sceneTitle" name="scene_sceneTitle" id="scene_sceneTitleInput" placeholder=" Title" >

                </td>
            </tr>
        </table>
        </div>
    <div class="col-md-6">
        <label>Sharing Options: </label>
        <table class="table">
            <tr>
                <td>Share With Public?</td>
                <td> <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneShareWithPublic]" ng-click="scene.sceneShareWithPublic = !scene.sceneShareWithPublic">{{!scene.sceneShareWithPublic && '' || ''}}
                </a></td>
            </tr>
            <tr>
                <td>
                    Share With Users:
                </td>
                <td>
                    <textarea type="text" class="form-control" ng-model="scene.sceneShareWithUsers" name="scene_sceneNumber" placeholder="delimit usernames or emails with a comma" ></textarea>

                </td>
            </tr>

        </table>
    </div>
        <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label for="scene_sceneDomainInput" > Domain: </label>-->
                <!--<input type="text" class="form-control" ng-model="scene.sceneDomain" name="scene_sceneDomain" id="scene_sceneDomainInput" placeholder=" Domain" required>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label for="scene_sceneNumberInput" > Number: </label>-->
                <!--<input type="text" class="form-control" ng-model="scene.sceneNumber" name="scene_sceneNumber" id="scene_sceneNumberInput" placeholder=" Number" required>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
                <!--<label for="scene_sceneTitleInput" >Scene Title: </label>-->
                <!--<input type="text" class="form-control" ng-model="scene.sceneTitle" name="scene_sceneTitle" id="scene_sceneTitleInput" placeholder=" Title" required>-->
            <!--</div>-->
        <!--</div>-->



    <div class="col-md-12"><hr></div>

    <!--<div class="col-md-12">-->
        <!--<div class="row"><label> </label></div>-->
        <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label >Scene Color1: </label>-->
                <!--<input class="change-element-color" my-bgcolor="scene.sceneColor1" colorpicker ng-model="scene.sceneColor1" type="text" required>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label >Scene Color2: </label>-->
                <!--<input class="change-element-color" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneColor2" type="text">-->
            <!--</div>-->
        <!--</div>-->
        <!--</div><div class=row">-->
        <div class="col-md-5"><label>Color Options:</label>
            <table class="table">
                <tr>
                    <td>Random Colors?</td>
                    <td> <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneRandomizeColors]" ng-click="scene.sceneRandomizeColors = !scene.sceneRandomizeColors">{{!scene.sceneRandomizeColors && '' || ''}}
                    </a></td>
                </tr>
                <tr>
                    <td>Tweak Colors?</td>
                    <td>  <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneTweakColors]" ng-click="scene.sceneTweakColors = !scene.sceneTweakColors">{{!scene.sceneTweakColors && '' || ''}}
                    </a></td>
                </tr>
                <tr>
                    <td>Colorize Sky?</td>
                    <td> <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneColorizeSky]" ng-click="scene.sceneColorizeSky = !scene.sceneColorizeSky">{{!scene.sceneColorizeSky && '' || ''}}
                    </a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-7"><label>Color Pickers:</label>
            <table class="table">
                <tr>
                    <td>Color 1</td>
                    <td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneColor1" colorpicker ng-model="scene.sceneColor1" type="text" ></td>
                </tr>
                <tr>
                    <td>Color 2</td>
                    <td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneColor2" type="text"></td>
                </tr>
                <tr>
                    <td>Highlight Color</td>
                    <td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneHighlightColor" type="text"></td>
                </tr>
            </table>
        </div>
        <!--<div class="btn-group" data-toggle="buttons">-->
        <!--<label class="btn btn-primary active">-->
            <!--<input type="checkbox" autocomplete="off" checked> Color Sky/Fog-->
        <!--</label>-->
        <!--<label class="btn btn-primary">-->
            <!--<input type="checkbox" autocomplete="off"> Random Colors-->
        <!--</label>-->
        <!--<label class="btn btn-primary">-->
            <!--<input type="checkbox" autocomplete="off"> Tweak Colors-->
        <!--</label>-->
        <!--</div>-->

        <!--</div>-->

    <div class="col-md-12"><hr></div>

    <div class="col-md-5">
        <label>Environment Options: </label>
        <table class="table">
            <tr>
                <td>
                    Use Dynamic Sky?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseDynamicSky]" ng-click="scene.sceneUseDynamicSky = !scene.sceneUseDynamicSky">{{!scene.sceneUseDynamicSky && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Use Skybox?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseSkybox]" ng-click="scene.sceneUseSkybox = !scene.sceneUseSkybox">{{!scene.sceneUseSkybox && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Use Sun Shafts?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseSunShafts]" ng-click="scene.sceneUseSunShafts = !scene.sceneUseSunShafts">{{!scene.sceneUseSunShafts && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Use Global Fog?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseGlobalFog]" ng-click="scene.sceneUseGlobalFog = !scene.sceneUseGlobalFog">{{!scene.sceneUseGlobalFog && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Use Terrain?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseTerrain]" ng-click="scene.sceneUseTerrain = !scene.sceneUseTerrain">{{!scene.sceneUseTerrain && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Use Floor Plane?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseFloorPlane]" ng-click="scene.sceneUseFloorPlane = !scene.sceneUseFloorPlane">{{!scene.sceneUseFloorPlane && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Render Floor Plane?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneRenderFloorPlane]" ng-click="scene.sceneRenderFloorPlane = !scene.sceneRenderFloorPlane">{{!scene.sceneRenderFloorPlane && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Use Simple Water?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseSimpleWater]" ng-click="scene.sceneUseSimpleWater = !scene.sceneUseSimpleWater">{{!scene.sceneUseSimpleWater && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Use Ocean?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseOcean]" ng-click="scene.sceneUseOcean = !scene.sceneUseOcean">{{!scene.sceneUseOcean && '' || ''}}
                    </a>
                </td>
            </tr>
        </table>
</div>
        <div class="col-md-7">
            <label>Environment Options: </label>
            <table class="table">
                <tr>
                    <td>
                        Environment:
                    </td>
                    <td>

                        <select name="sceneEnviro" class="form-control" ng-model="scene.sceneEnvironment.name" ng-options="e as e for e in environments" required>
                            <option value="" selected="{{sceneEnvironment.name}}">Select Environment:</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                      Time of Day:
                    </td>
                    <td>
                        <select name="sceneTime" class="form-control" ng-model="scene.sceneTime" ng-options="t.name for t in time" required>
                            <option value="" selected="selected">Select Time:</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Time Speed:
                    </td>
                    <td>
                        <select name="sceneTimeSpeed" class="form-control" ng-model="scene.sceneTimescale" ng-options="t.name for t in speed" required>
                            <option value="" selected="selected">Select Timescale:</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Weather:
                    </td>
                    <td>
                        <select name="sceneWeather" class="form-control" ng-model="scene.sceneWeather" ng-options="w.name for w in weather" required>
                            <option value="" selected="selected">Select Weather:</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Season:
                    </td>
                    <td>
                        <select name="sceneSeason" class="form-control" ng-model="scene.sceneSeason" ng-options="s.name for s in season" required>
                            <option value="" selected="selected">Select Season:</option>
                        </select>
                    </td>
                </tr>

            </table>
        </div>

    <div class="col-md-12"><hr></div>


    <div class="col-md-12">
        <div class="row"><label>Scene Content: </label></div>


        <div class="col-md-12">
            <div class="col-md-2">
            <span>Scatter Meshes?
            <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneScatterMeshes]" ng-click="scene.sceneScatterMeshes = !scene.sceneScatterMeshes">{{!scene.sceneScatterMeshes && '' || ''}}
            </a></span>
            </div>
            <div class="col-md-2">
            <span>Scatter Objects?
            <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneScatterObjects]" ng-click="scene.sceneScatterObjects = !scene.sceneScatterObjects">{{!scene.sceneScatterObjects && '' || ''}}
            </a></span>
            </div>
            <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Add Scene Picture:</label><select name="newScenePic" class="form-control" ng-model="newScenePicture" ng-options="p._id as (p.title ? p.title : p.filename) for p in pictureitems " required>
                    <option value="" selected="selected">Select Image:</option>
                </select>
                    <button class="btn-default btn-default-sm" ng-click="AddScenePicture(newScenePicture)">Add</button>
                </div>
            </div>
            </div>
            <!--{{scenePictureThumbs}}-->
                <div class="row">
            <div ng-repeat="picture in scenePictureThumbs">
                <div class="col-md-2">
                <img ng-src="{{picture.thumbUrl}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">
                <button class="btn-default btn-default-sm" ng-click="DeleteScenePicture(picture._id)">Delete</button><br><span>Title:  {{picture.title}}</span>
            </div></div>
        </div>




        <div class="col-md-3">
            <div class="form-group">
                <label>Add Scene Obj:</label><select name="newSceneObj" class="form-control" ng-model="newSceneObj" ng-options="p._id as (p.title ? p.title : p.filename) for p in objitems " required>
                <option value="" selected="selected">Select Obj:</option>
            </select>
                <button class="btn-default btn-default-sm" ng-click="AddSceneObj(newSceneObj)">Add</button>
            </div>
        </div>
        </div>
        <div class="row">



            <div class="col-md-3">
                <div class="form-group">
                    <label>Scene Trigger Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneTriggerAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Scene Primary Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.scenePrimaryAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Scene Ambient Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneAmbientAudioID" ng-options="a._id as a.title for a in audioitems" >
                    <option value="" selected="selected">Select Audio:</option>
                </select>
                    <br>
                </div>
            </div>
            <!--<div class="col-md-3">-->
                <!--<div class="form-group">-->
                    <!--<label>Scene Ambient Audio2:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneAmbient2AudioID" ng-options="a._id as a.title for a in audioitems" >-->
                    <!--<option value="" selected="selected">Select Audio:</option>-->
                <!--</select>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
        </div>
            <br>
            <!--<div class="col-md-10">-->
            <!--<img ng-src="{{audioWaveformPng}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">-->
            <!--<br>-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneKeynote" >Scene Keynote: </label>
                    <input type="text" class="form-control"  ng-model="scene.sceneKeynote" name="scene_sceneKeynote" id="scene_sceneKeynote" placeholder="Keynote"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneDescription" >Scene Description: </label>
                    <textarea type="text" class="form-control"  ng-model="scene.sceneDescription" name="scene_sceneDescription" id="scene_sceneDescription" rows="3" placeholder="Description"/></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneTextInput" >Scene Text: </label>
                    <textarea class="form-control" name="scene_sceneText" id="scene_sceneTextInput" ng-model="scene.sceneText" placeholder="Text" rows="5"></textarea></div>
                <!--<button class="btn btn-primary btn-large pull-right" ng-click="Login()" ng-show="userstatus == 0" ng-disabled="!form.$valid">Login</button>-->

            </div>
    </form>
        <button class="btn btn-primary btn-large pull-right" ng-click="onDeleteScene()" ng-hide="userstatus == 0 " >Delete Scene</button>
    </br></br>



    </div>
</div>


