<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>
<div class="well" style="margin-top: 20px;">
<div class="row">
	<div class="col-md-12" style="text-align: center;"><h1>Scenes<h1></div>
</div>
<div class="row">
<div class="col-md-12" style="text-align: center;">
	
	<div class="input-group col-md-2">
	<label for="title_query">filter by title:  </label>
	<input type="text" id="title_query" ng-model="query.title">
	</div>
	<div class="input-group col-md-2">
	<label for="tag_query">filter by tags:  </label>
	<input type="text" id="tag_query" ng-model="query.tags">
	</div>
    <a class="btn btn-primary btn-lg pull-right" href="#/newscene/{{user._id}}">New Scene</a></div>
				<table class="table table-rounded table-hover table-cursor well" style="margin-top: 20px;">
				  <thead>

				    <th>Edit</th>
				    <th>Title</th>
                    <th>Environment</th>
                    <!--<th>Edit</th>-->
				    <th>View</th>
				    				   
				  </thead>
				  <tbody>
		<!--		    <tr ng-repeat="item in audioitems (filteredAudioitems = (taga= | filter: query))| orderBy:predicate:reverse"> -->
				      <tr ng-repeat="item in scenes | filter: query: strict | orderBy:predicate:reverse">
                      <th><div class="btn btn-primary btn-md" ng-click="rowClick(item)">{{item.short_id}}</div></th>
				      <th>{{ item.sceneTitle }}</th>
				      <th>{{ item.sceneEnvironment.name }}</th>
				   	  <!--<th><div class="btn btn-primary btn-md" ng-click="rowClick(item)">Edit</div></th>-->
				   	  <!--<th><button class="btn btn-primary btn-md" ng-click="ShowUnity(scenes[$index]._id)"><img src="http://servicemedia.s3.amazonaws.com/unityicon.png"></button></th>-->
                          <th><a class="btn btn-primary btn-md" target="_blank" href="http://strr.us/?scene={{item.short_id}}" ><img src="http://servicemedia.s3.amazonaws.com/unityicon.png"></a></th>
				    </tr>
				  </tbody>
				</table>

</div>
<pre>{{audioitems}}</pre>
</div>
