<nav ng-hide="userstatus == 0" style="margin-top: 20px" class="navbar navbar-default" role="navigation"><navular/></nav>


<div class="well" style="margin-top: 20px;">
    <div class="row">
    <a class="btn btn-primary btn-lg "target="_blank" href="http://strr.us/?scene={{scene.short_id}}">Preview<img src="http://servicemedia.s3.amazonaws.com/unityicon.png"></a>

    <button class="btn btn-primary btn-lg pull-right " ng-click="onSaveScene()" >Save</button>
    <br><span class="pull-right"><p>{{headermessage}}</p></span>
    <span>
         <a class="btn btn-primary btn-sm pull-right "target="_blank" href="#/uploadpicture/postcard/{{scene.short_id}}">Upload Screenshot/Postcard</a>
        <a class="btn btn-primary btn-sm pull-right "target="_blank" href="#/uploadpicture/scenepic/{{scene.short_id}}">Upload Scene Picture</a>
        <h4>Scene Key: <a target="_blank" href="http://servicemedia.net/scene/{{scene.short_id}}">{{scene.short_id}}</a></h4></span> <span ><h4>Scene Title: {{scene.sceneTitle}}</h4></span>




<form name="form">

    <div class="col-md-12"><hr></div>
        <div class="col-md-6">
    <label>Scene Options: </label>
        <table class="table">
            <tr>
                <td>
                    Domain:
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="scene.sceneDomain" name="scene_sceneDomain" id="scene_sceneDomain" placeholder=" Domain" >
                </td>
            </tr>
            <tr>
                <td>
                    Previous Scene
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="scene.scenePreviousScene" name="scene_scenePreviousScene" id="scene_scenePreviousScene" placeholder="prev. scene short code" >

                </td>
            </tr>
            <tr>
                <td>
                    Next Scene
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="scene.sceneNextScene" name="scene_sceneNextScene" id="scene_sceneNextScene" placeholder="next scene short code" >

                </td>
            </tr>
            <tr>
                <td>
                    Scene Title
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="scene.sceneTitle" name="scene_sceneTitle" id="scene_sceneTitleInput" placeholder=" Title" required>

                </td>
            </tr>
        </table>
        </div>
    <div class="col-md-6">
        <label>Sharing Options: </label>
        <table class="table">
            <tr>
                <td>Share With Public?</td>
                <td> <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneShareWithPublic]" ng-click="scene.sceneShareWithPublic = !scene.sceneShareWithPublic">{{!scene.sceneShareWithPublic && '' || ''}}
                </a></td>
            </tr>
            <tr>
                <td>
                    Share With User(s):
                </td>
                <td>
                    <textarea type="text" class="form-control" ng-model="scene.sceneShareWith" name="scene_sceneShareWithUsers" placeholder="delimit usernames or emails with a comma" ></textarea>
                    <a class="btn btn-info btn-sm pull-right glyphicon glyphicon-envelope" ng-show="canSend && scene.sceneShareWith != null" ng-click="onShareScene()"> Send Now</a>
                </td>
            </tr>
            <tr>
                <td>
                    User(s) Allowed to Post in this Scene:
                </td>
                <td>
                    <textarea type="text" class="form-control" ng-model="scene.sceneCanPost" name="scene_sceneNumber" placeholder="delimit usernames or emails with a comma" ></textarea>

                </td>
            </tr>

        </table>
    </div>
    <div class="col-md-12"><hr></div>
    <div class="col-md-6">
       <label>Location Key Options: </label>
        <table class="table">
            <tr>
                <td>Restrict to Location?    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneRestrictToLocation]" ng-click="scene.sceneRestrictToLocation = !scene.sceneRestrictToLocation">{{!scene.sceneRestrictToLocation && '' || ''}}
                </a></td>
                <td>Range in meters: <input class="pull-right" type="text" ng-model="scene.sceneLocationRange" type="number"></td>

            </tr>
            <tr>
                <td>
                   Latitude:  <input class="pull-right" type="text" ng-model="scene.sceneLatitude" >
                </td>
                <td>
                    Longitude:  <input class="pull-right" type="text" ng-model="scene.sceneLongitude" >
                </td>
            <button class="btn btn-info btn-sm glyphicon glyphicon-globe pull-right" ng-click="GetCurrentLocation()"> Use Current Location</button>
            </tr>

        </table>
    </div>
    <div class="col-md-6">
        <label>Time Key Options: </label>
        <table class="table">
            <tr>

                <td>Restrict to Time?    <a class="btn pull-right " ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneRestrictToTime]" ng-click="scene.sceneRestrictToTime = !scene.sceneRestrictToTime">{{!scene.sceneRestrictToTime && '' || ''}}
                </a></td>
                <td>Time Range: <input class="pull-right" type="text" ng-model="scene.sceneTimeRange"></td>
            </tr>
            <tr>

                <td>
                    Start Time:  <input class="pull-right" type="text" ng-model="scene.sceneStartTime">
                </td>
                <td>
                    End Time:  <input class="pull-right" type="text" ng-model="scene.sceneEndTime">
                </td>
                <button class="btn btn-info btn-sm glyphicon glyphicon-time pull-right" ng-click="GetCurrentTime()"> Use Current Time</button>
            </tr>

        </table>
    </div>
        <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label for="scene_sceneDomainInput" > Domain: </label>-->
                <!--<input type="text" class="form-control" ng-model="scene.sceneDomain" name="scene_sceneDomain" id="scene_sceneDomainInput" placeholder=" Domain" required>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label for="scene_sceneNumberInput" > Number: </label>-->
                <!--<input type="text" class="form-control" ng-model="scene.sceneNumber" name="scene_sceneNumber" id="scene_sceneNumberInput" placeholder=" Number" required>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
                <!--<label for="scene_sceneTitleInput" >Scene Title: </label>-->
                <!--<input type="text" class="form-control" ng-model="scene.sceneTitle" name="scene_sceneTitle" id="scene_sceneTitleInput" placeholder=" Title" required>-->
            <!--</div>-->
        <!--</div>-->



    <div class="col-md-12"><hr></div>

    <!--<div class="col-md-12">-->
        <!--<div class="row"><label> </label></div>-->
        <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label >Scene Color1: </label>-->
                <!--<input class="change-element-color" my-bgcolor="scene.sceneColor1" colorpicker ng-model="scene.sceneColor1" type="text" required>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<div class="form-group">-->
                <!--<label >Scene Color2: </label>-->
                <!--<input class="change-element-color" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneColor2" type="text">-->
            <!--</div>-->
        <!--</div>-->
        <!--</div><div class=row">-->
        <div class="col-md-6"><label>Color Options:</label>
            <table class="table">
                <tr>
                    <td>Random Colors?</td>
                    <td> <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneRandomizeColors]" ng-click="scene.sceneRandomizeColors = !scene.sceneRandomizeColors">{{!scene.sceneRandomizeColors && '' || ''}}
                    </a></td>
                    <td>Tweak Colors?</td>
                    <td>  <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneTweakColors]" ng-click="scene.sceneTweakColors = !scene.sceneTweakColors">{{!scene.sceneTweakColors && '' || ''}}
                    </a></td>
                </tr>
                <tr>
                    <td>Colorize Sky?</td>
                    <td> <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneColorizeSky]" ng-click="scene.sceneColorizeSky = !scene.sceneColorizeSky">{{!scene.sceneColorizeSky && '' || ''}}
                    </a></td>
                    <td>Highlight Color</td>
                    <td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneHighlightColor" colorpicker ng-model="scene.sceneHighlightColor" type="text"></td>
                </tr>
                <tr>
                    <td>Color 1</td>
                    <td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneColor1" colorpicker ng-model="scene.sceneColor1" type="text" ></td>

                    <td>Color 2</td>
                    <td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneColor2" type="text"></td>
                </tr>

            </table>
        </div>
    <div class="col-md-6" >
        <label>Ground Options: </label>
        <table class="table">
            <tr>
                <td>
                    Use Prefab Environment?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseEnvironment]" ng-click="scene.sceneUseEnvironment = !scene.sceneUseEnvironment">{{!scene.sceneUseEnvironment && '' || ''}}
                    </a>
                </td>
                <td>
                    Environment:
                </td>
                <td>

                    <select name="sceneEnviro" class="form-control" ng-model="scene.sceneEnvironment.name" ng-options="e as e for e in environments" >
                        <option value="" selected="{{sceneEnvironment.name}}">Select Environment:</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Use Heightmap?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseHeightmap]" ng-click="scene.sceneUseHeightmap = !scene.sceneUseHeightmap">{{!scene.sceneUseHeightmap && '' || ''}}
                    </a>
                </td>
                <td>
                    Heightmap:
                </td>
                <td>

                    <select name="sceneHeightmap" class="form-control" ng-model="scene.sceneHeightmap.name" ng-options="e as e for e in heightmaps" >
                        <option value="" selected="{{sceneHeightmap.name}}">Select Heightmap:</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Use Floor Plane?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseFloorPlane]" ng-click="scene.sceneUseFloorPlane = !scene.sceneUseFloorPlane">{{!scene.sceneUseFloorPlane && '' || ''}}
                    </a>
                </td>
                <td>
                    Render Floor Plane?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneRenderFloorPlane]" ng-click="scene.sceneRenderFloorPlane = !scene.sceneRenderFloorPlane">{{!scene.sceneRenderFloorPlane && '' || ''}}
                    </a>
                </td>
            </tr>



        </table>
    </div>
        <!--<div class="col-md-7"><label>Color Pickers:</label>-->
            <!--<table class="table">-->
                <!--<tr>-->
                    <!--<td>Color 1</td>-->
                    <!--<td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneColor1" colorpicker ng-model="scene.sceneColor1" type="text" ></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Color 2</td>-->
                    <!--<td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneColor2" type="text"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>Highlight Color</td>-->
                    <!--<td>  <input class="change-element-color pull-right" my-bgcolor="scene.sceneColor2" colorpicker ng-model="scene.sceneHighlightColor" type="text"></td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="btn-group" data-toggle="buttons">-->
        <!--<label class="btn btn-primary active">-->
            <!--<input type="checkbox" autocomplete="off" checked> Color Sky/Fog-->
        <!--</label>-->
        <!--<label class="btn btn-primary">-->
            <!--<input type="checkbox" autocomplete="off"> Random Colors-->
        <!--</label>-->
        <!--<label class="btn btn-primary">-->
            <!--<input type="checkbox" autocomplete="off"> Tweak Colors-->
        <!--</label>-->
        <!--</div>-->

        <!--</div>-->


    <div class="col-md-6"  >
        <label>Sky Options: </label>
        <table class="table">
            <tr>
                <td>
                    Use Dynamic Sky?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseDynamicSky]" ng-click="scene.sceneUseDynamicSky = !scene.sceneUseDynamicSky">{{!scene.sceneUseDynamicSky && '' || ''}}
                    </a>
                </td>
                <td>
                    Use Camera As Background?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseCameraBackground]" ng-click="scene.sceneUseCameraBackground = !scene.sceneUseCameraBackground">{{!scene.sceneUseCameraBackground && '' || ''}}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Use Skybox?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseSkybox]" ng-click="scene.sceneUseSkybox = !scene.sceneUseSkybox">{{!scene.sceneUseSkybox && '' || ''}}
                    </a>
                </td>
                <td>
                    Select Skybox:
                </td>
                <td>
                    <select name="sceneSkybox" class="form-control" ng-model="scene.sceneSkybox" ng-options="s.name for s in skybox" >
                        <option value="" selected="selected">Select Skybox:</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Use Sun Shafts?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseSunShafts]" ng-click="scene.sceneUseSunShafts = !scene.sceneUseSunShafts">{{!scene.sceneUseSunShafts && '' || ''}}
                    </a>
                </td>
                <td>
                    Use Global Fog?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseGlobalFog]" ng-click="scene.sceneUseGlobalFog = !scene.sceneUseGlobalFog">{{!scene.sceneUseGlobalFog && '' || ''}}
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    Time of Day:
                </td>
                <td>
                    <select name="sceneTime" class="form-control" ng-model="scene.sceneTime" ng-options="t.name for t in time" >
                        <option value="" selected="selected">Select Time:</option>
                    </select>
                </td>
                <td>
                    Time Speed:
                </td>
                <td>
                    <select name="sceneTimeSpeed" class="form-control" ng-model="scene.sceneTimescale" ng-options="t.name for t in speed" >
                        <option value="" selected="selected">Select Timescale:</option>
                    </select>
                </td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td>
                    Weather:
                </td>
                <td>
                    <select name="sceneWeather" class="form-control" ng-model="scene.sceneWeather" ng-options="w.name for w in weather" >
                        <option value="" selected="selected">Select Weather:</option>
                    </select>
                </td>
                <td>
                    Season:
                </td>
                <td>
                    <select name="sceneSeason" class="form-control" ng-model="scene.sceneSeason" ng-options="s.name for s in season" >
                        <option value="" selected="selected">Select Season:</option>
                    </select>
                </td>
            </tr>

            </table>
        </div>

    <div class="col-md-5" style="margin-left: 30px;">
        <label>Water Options: </label>
        <table class="table">
            <tr>
                <td>
                    Use Simple Water?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseSimpleWater]" ng-click="scene.sceneUseSimpleWater = !scene.sceneUseSimpleWater">{{!scene.sceneUseSimpleWater && '' || ''}}
                    </a>
                </td>
                <td>
                    Use Ocean?
                </td>
                <td>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseOcean]" ng-click="scene.sceneUseOcean = !scene.sceneUseOcean">{{!scene.sceneUseOcean && '' || ''}}
                    </a>
                </td>
            </tr>
            </table>
        </div>
        <!--<div class="col-md-5">-->
            <!--<label>Environment Options: </label>-->
            <!--<table class="table">-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--Environment:-->
                    <!--</td>-->
                    <!--<td>-->

                        <!--<select name="sceneEnviro" class="form-control" ng-model="scene.sceneEnvironment.name" ng-options="e as e for e in environments" required>-->
                            <!--<option value="" selected="{{sceneEnvironment.name}}">Select Environment:</option>-->
                        <!--</select>-->
                    <!--</td>-->
                <!--</tr>-->


            <!--</table>-->
        <!--</div>-->

    <div class="col-md-12"><hr></div>


    <!--<div class="col-md-12">-->
        <!--<div class="row"><label>Scene Content: </label></div>-->


        <!--<div class="col-md-12">-->
    <div class="col-md-7" style="margin-left: 0px;">
                <label>Scatter Options: </label>
                <table class="table">
                    <tr>
                        <td>
                            Scatter World Meshes?<a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneScatterMeshes]" ng-click="scene.sceneScatterMeshes = !scene.sceneScatterMeshes">{{!scene.sceneScatterMeshes && '' || ''}}
                        </a>
                        </td>
                        <td>

                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="scene.sceneScatterMeshLayers.crystal" btn-checkbox>Crystals</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterMeshLayers.conifer" btn-checkbox>Trees - Conifer</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterMeshLayers.rock" btn-checkbox>Rocks</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterMeshLayers.tree2" btn-checkbox>Trees - Small</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterMeshLayers.redflower" btn-checkbox>Red Flowers</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterMeshLayers.bush" btn-checkbox>Bushes</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterMeshLayers.rock2" btn-checkbox>More Rocks</label>
                            </div>
                        </td>

                        <td>
                            Scatter World Objects? <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneScatterObjects]" ng-click="scene.sceneScatterObjects = !scene.sceneScatterObjects">{{!scene.sceneScatterObjects && '' || ''}}
                        </a>
                        </td>
                        <td>

                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.gate1" btn-checkbox>Basic Gates</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.picobj" btn-checkbox>Picture Objects</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.textobj" btn-checkbox>Text Objects</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.key1" btn-checkbox>Keys</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.snowman" btn-checkbox>Snowmen</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.mailbox" btn-checkbox>Mailboxes</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.rabbit" btn-checkbox>Rabbits</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.kitten" btn-checkbox>Kittens</label>
                                <label class="btn btn-primary" ng-model="scene.sceneScatterObjectLayers.treasure1" btn-checkbox>Treasure Chests</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    <td>
                        Show Viewport Meshes?<a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneShowViewportMeshes]" ng-click="scene.sceneShowViewportMeshes = !scene.sceneShowViewportMeshes">{{!scene.sceneShowViewportMeshes && '' || ''}}
                    </a>
                        </td>
                        <td>

                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="scene.sceneViewportMeshLayers.fish" btn-checkbox>fish</label>
                                <label class="btn btn-primary" ng-model="scene.sceneViewportMeshLayers.birds" btn-checkbox>birds</label>
                                <label class="btn btn-primary" ng-model="scene.sceneViewportMeshLayers.clouds" btn-checkbox>clouds</label>
                                <label class="btn btn-primary" ng-model="scene.sceneViewportMeshLayers.fireworks" btn-checkbox>fireworks</label>
                            </div>
                        </td>
                        <td>
                            Show Viewport Objects?<a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneShowViewportObjects]" ng-click="scene.sceneShowViewportObjects = !scene.sceneShowViewportObjects">{{!scene.sceneShowViewportObjects && '' || ''}}
                        </a>
                        </td>
                        <td>

                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="scene.sceneViewportObjectLayers.groundedText" btn-checkbox>Text - Grounded</label>
                                <label class="btn btn-primary" ng-model="scene.sceneViewportObjectLayers.groundedPictures" btn-checkbox>Pics - Grounded</label>
                                <label class="btn btn-primary" ng-model="scene.sceneViewportObjectLayers.flyingText" btn-checkbox>Text - Flying</label>
                                <label class="btn btn-primary" ng-model="scene.sceneViewportObjectLayers.flyingPictures" btn-checkbox>Pics - Flying</label>
                            </div>
                        </td>
                </tr>
                    <tr>
                        <td>
                            Use Target Object?
                        </td>
                        <td>
                            <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneUseTargetObject]" ng-click="scene.sceneUseTargetObject = !scene.sceneUseTargetObject">{{!scene.sceneUseTargetObject && '' || ''}}
                            </a>  </td>

                        <td>
                        Target Heading: </td><td><select name="sceneTime" class="form-control" ng-model="scene.sceneTargetHeading" ng-options="e as e for e in headings" >
                        <option value="" selected="selected">Select Heading:</option>
                    </select>
                        </td>
                        </tr>
                        <tr>
                        <!--</td>-->
                        <td>
                        Target Object:
                        </td>
                        <td>
                            <select name="sceneTargetObject" class="form-control" ng-model="scene.sceneTargetObject.name" ng-options="e as e for e in targetobjex" >
                                <option value="" selected="selected">Select Object:</option>
                            </select>
                        </td>
                            <td>
                                Target Event:
                            </td>
                            <td>
                                <!--<select name="sceneTargetEvent" class="form-control" ng-model="scene.sceneTargetEvent.name" ng-options="e as e for e in targetevents" >-->
                                    <!--<option value="" selected={{sceneTargetEvent.name}}>Select Event:</option>-->
                                <!--</select>-->
                                <select name="sceneTargetEvent" class="form-control" ng-model="scene.sceneTargetEvent.name" ng-options="e as e for e in targetevents" >
                                    <option value="" selected="{{sceneTargetEvent.name}}">Select Event:</option>
                                </select>
                            </td>
                    </tr>
                    </table>
            </div>
    <div class="col-md-4" style="margin-left: 50px;">
                <label>User Picture Options: </label>
                <table class="table">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>Add Scene Picture:</label><select name="newScenePic" class="form-control" ng-model="newScenePicture" ng-options="p._id as (p.title ? p.title : p.filename) for p in pictureitems " >
                                <option value="" selected="selected">Select Image:</option>
                            </select>
                                <button class="btn-default btn-default-sm" ng-click="AddScenePicture(newScenePicture)">Add</button>
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="picture in scenePictureThumbs">
                                <!--<div class="col-md-2">-->
                                <p>    <img ng-src="{{picture.thumbUrl}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">
                                    <button class="btn-default btn-default-sm" ng-click="DeleteScenePicture(picture._id)">Delete</button><br><span>Title:  {{picture.title}}</span>
                                </p>
                            </div>
                        </td>

                    </tr>
                </table>
                </div>

    <div class="col-md-7" style="margin-left: 10px;">
        <label>User Audio Options: </label>
        <table class="table">
            <tr>
                <td>
                Scene Primary Audio
                </td>
                <td>
                    <select name="sceneAudio" class="form-control" ng-model="scene.scenePrimaryAudioID" ng-options="a._id as a.title for a in audioitems" >
                        <option value="" selected="selected">Select Audio:</option>
                    </select>
                    <a class="btn pull-right" ng-class="{true: 'btn-danger glyphicon glyphicon-remove', false: 'btn-success glyphicon glyphicon-ok'}[!scene.sceneLoopPrimaryAudio]" ng-click="scene.sceneLoopPrimaryAudio = !scene.sceneLoopPrimaryAudio">{{!scene.sceneLoopPrimaryAudio && ' Do Not Loop' || ' Loop'}}
                    </a>
                </td>

            </tr>
            <tr>
                <td>
                    Scene Ambient Audio
                </td>
                <td>
                    <select name="sceneAudio" class="form-control" ng-model="scene.sceneAmbientAudioID" ng-options="a._id as a.title for a in audioitems" >
                        <option value="" selected="selected">Select Audio:</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>
                    Scene Trigger Audio
                </td>
                <td>
                    <select name="sceneAudio" class="form-control" ng-model="scene.sceneTriggerAudioID" ng-options="a._id as a.title for a in audioitems" >
                        <option value="" selected="selected">Select Audio:</option>
                    </select>
                </td>

            </tr>

        </table>
    </div>
    <div class="col-md-4" style="margin-left: 10px;">
        <label>User Mesh Options: </label>
        <table class="table">
            <tr>
                <td>
                    <div class="form-group">
                        <label>Add Scene Obj:</label><select name="newSceneObj" class="form-control" ng-model="newSceneObj" ng-options="p._id as (p.title ? p.title : p.filename) for p in objitems " >
                        <option value="" selected="selected">Select Obj:</option>
                    </select>
                        <button class="btn-default btn-default-sm" ng-click="AddSceneObj(newSceneObj)">Add</button>
                    </div><br>
                </td>
                <td>
                    <!--<div ng-repeat="picture in scenePictureThumbs">-->
                    <!--<div class="col-md-2">-->
                    <!--<img ng-src="{{picture.thumbUrl}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">-->
                    <!--<button class="btn-default btn-default-sm" ng-click="DeleteScenePicture(picture._id)">Delete</button><br><span>Title:  {{picture.title}}</span>-->
                    <!--</div></div>-->
                </td>

            </tr>
        </table>
    </div>
            <!--<div class="row">-->
            <!--<div class="col-md-2">-->
                <!--<div class="form-group">-->
                    <!--<label>Add Scene Picture:</label><select name="newScenePic" class="form-control" ng-model="newScenePicture" ng-options="p._id as (p.title ? p.title : p.filename) for p in pictureitems " required>-->
                    <!--<option value="" selected="selected">Select Image:</option>-->
                <!--</select>-->
                    <!--<button class="btn-default btn-default-sm" ng-click="AddScenePicture(newScenePicture)">Add</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<!--{{scenePictureThumbs}}-->
                <!--<div class="row">-->
            <!--<div ng-repeat="picture in scenePictureThumbs">-->
                <!--<div class="col-md-2">-->
                <!--<img ng-src="{{picture.thumbUrl}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">-->
                <!--<button class="btn-default btn-default-sm" ng-click="DeleteScenePicture(picture._id)">Delete</button><br><span>Title:  {{picture.title}}</span>-->
            <!--</div></div>-->
        <!--</div>-->




        <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
                <!--<label>Add Scene Obj:</label><select name="newSceneObj" class="form-control" ng-model="newSceneObj" ng-options="p._id as (p.title ? p.title : p.filename) for p in objitems " required>-->
                <!--<option value="" selected="selected">Select Obj:</option>-->
            <!--</select>-->
                <!--<button class="btn-default btn-default-sm" ng-click="AddSceneObj(newSceneObj)">Add</button>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">



            <!--<div class="col-md-3">-->
                <!--<div class="form-group">-->
                    <!--<label>Scene Trigger Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneTriggerAudioID" ng-options="a._id as a.title for a in audioitems" >-->
                    <!--<option value="" selected="selected">Select Audio:</option>-->
                <!--</select>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<div class="form-group">-->
                    <!--<label>Scene Primary Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.scenePrimaryAudioID" ng-options="a._id as a.title for a in audioitems" >-->
                    <!--<option value="" selected="selected">Select Audio:</option>-->
                <!--</select>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<div class="form-group">-->
                    <!--<label>Scene Ambient Audio:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneAmbientAudioID" ng-options="a._id as a.title for a in audioitems" >-->
                    <!--<option value="" selected="selected">Select Audio:</option>-->
                <!--</select>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<div class="form-group">-->
                    <!--<label>Scene Ambient Audio2:</label><select name="sceneAudio" class="form-control" ng-model="scene.sceneAmbient2AudioID" ng-options="a._id as a.title for a in audioitems" >-->
                    <!--<option value="" selected="selected">Select Audio:</option>-->
                <!--</select>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
        </div>
            <br>
            <!--<div class="col-md-10">-->
            <!--<img ng-src="{{audioWaveformPng}}" err-src="http://philgarden.s3.amazonaws.com/qholder.png">-->
            <!--<br>-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneKeynote" >Scene Keynote: </label>
                    <input type="text" class="form-control"  ng-model="scene.sceneKeynote" name="scene_sceneKeynote" id="scene_sceneKeynote" placeholder="Keynote"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="scene_sceneDescription" >Scene Description: </label>
                    <textarea type="text" class="form-control"  ng-model="scene.sceneDescription" name="scene_sceneDescription" id="scene_sceneDescription" rows="3" placeholder="Description"/></textarea>
                </div>
            </div>
            <div class="col-md-12">

                <div class="form-group">
                    <a class="btn pull-right" ng-class="{true: 'btn-info ', false: 'btn-success'}[!scene.sceneTextLoop]" ng-click="scene.sceneTextLoop = !scene.sceneTextLoop">{{!scene.sceneTextLoop && 'Do Not Loop Text' || 'Loop Text'}}
                    </a>
                    <label for="scene_sceneTextInput" >Scene Text: (delimit with tilde "~" or tab)</label>
                    <textarea class="form-control" name="scene_sceneText" id="scene_sceneTextInput" ng-model="scene.sceneText" placeholder="Text" rows="5"></textarea></div>
                <!--<button class="btn btn-primary btn-large pull-right" ng-click="Login()" ng-show="userstatus == 0" ng-disabled="!form.$valid">Login</button>-->

            </div>
    </form>
        <button class="btn btn-primary btn-sm pull-left" ng-click="onDeleteScene()" ng-hide="userstatus == 0 " >Delete Scene</button>
    <button class="btn btn-primary btn-lg pull-right " ng-click="onSaveScene()" >Save</button>
    </br></br>



    </div>
</div>


