	
        <div class="well" style="margin-top: 20px; text-align: center;">   

<div class="audio-control">
  <audio media-player="audioPlayer" data-playlist="audioPlaylist"></audio>
    <!--<audio data-player-control="audioPlayer" playlist="audioPlaylist" audio-player></audio>-->
  <div class="btn btn-primary btn-lg" ng-click="audioPlayer.play()">
    <span>Play</span>
    <i class="fa fa-play"></i>
  </div>
  <div class="btn btn-primary btn-md" ng-click="audioPlayer.playPause()">
    <i class="fa" ng-class="{ 'fa-pause': audioPlayer.playing, 'fa-play': !audioPlayer.playing }"></i>
    <span>Pause</span>
  </div>

  <div class="btn btn-primary btn-md" ng-click="audioPlayer.prev()">
    <i class="fa fa-step-backward"></i>
    <span>Prev</span>
  </div>
    <div class="btn btn-primary btn-md" ng-click="audioPlayer.next()">
    <span>Next</span>
    <i class="fa fa-step-forward"></i>
  </div>
  <!--<button class="btn btn-primary btn-md pull-right" ng-click="ShowUnity(); audioPlayer.pause()"><img src="http://servicemedia.s3.amazonaws.com/unityicon.png"></button>-->
  <br>

    <div class="btn btn-noclick">
   <span><h3><span class="badge">{{ audioPlayer.currentTrack }}</span> {{ audioitems[audioPlayer.currentTrack - 1].title }} by {{ audioitems[audioPlayer.currentTrack - 1].artist }}  </h3> </span>
  </div><br>
  <span ng-show="audioPlayer.playing">Player status: Playing</span>
  <span ng-show="!audioPlayer.playing">Player status: Paused</span>
</div>

	<hr>


				<table class="table table-rounded">
				  <thead>
				    
				    <td>Title</td>
				    <td>Artist</td>
				    <td>Album</td>
				   <td>Detail</td>
           <!--<td>Keys</td>-->
           <td>Play</td>

				  </thead>
				  <tbody>
				    <!--<tr ng-repeat="item in audioitems" ng-click="audioPlayer.playPause($index)" ng-class="{ active: audioPlayer.playing && audioPlayer.currentTrack-1 === $index }">-->
                    <tr ng-repeat="item in audioitems" ng-click="audioPlayer.playPause($index)" ng-class="{ active: audioPlayer.playing && audioPlayer.currentTrack-1 === $index }">
				      <td>{{ item.title }}</td>
				      <td>{{ item.artist }}</td>
				      <td>{{ item.album }}</td>

             <td> <a class="btn btn-primary btn-large" href="#/detail/{{ item._id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
             <!--<td> <a class="btn btn-primary btn-large" href="#/keys/{{ item._id }}"><span class="glyphicon glyphicon-wrench"></span></a></td>-->
             <td><a class="btn btn-primary btn-large" href="#/play/{{ item.short_id }}"><span class="glyphicon glyphicon-play"></span></a></td>

				    </tr>
				  </tbody>
				</table>
		</div> 
     



 <span class="help-block">
         baked with pride by servicemedia.net
        </span>

        